<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.SsmCourceMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.SsmCource" >
    <constructor >
      <idArg column="cource_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cource_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cource_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cource_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cource_credit" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="cource_bak" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="row" type="com.zking.model.SsmCource">
    <id column="cource_id" property="courceId" javaType="java.lang.Integer"/>
    <result column="cource_name" property="courceName" javaType="java.lang.String"/>
    <result column="cource_date" property="courceDate" javaType="java.util.Date"/>
    <result column="cource_count" property="courceCount" javaType="java.lang.Integer"/>
    <result column="cource_credit" property="courceCredit" javaType="java.lang.Float"/>
    <result column="cource_bak" property="courceBak" javaType="java.lang.String"/>
  </resultMap>
  <sql id="Base_Column_List" >
    cource_id, cource_name, cource_date, cource_count, cource_credit, cource_bak
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssm_cource
    where cource_id = #{courceId,jdbcType=INTEGER}
  </select>
    <select id="findAll" resultMap="row">
      select * from ssm_cource
    </select>
    <delete id="deleteCource" parameterType="java.lang.Integer" >
    delete from ssm_cource
    where cource_id = #{courceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.SsmCource" >
    insert into ssm_cource (cource_id, cource_name, cource_date, 
      cource_count, cource_credit, cource_bak
      )
    values (#{courceId,jdbcType=INTEGER}, #{courceName,jdbcType=VARCHAR}, #{courceDate,jdbcType=TIMESTAMP}, 
      #{courceCount,jdbcType=INTEGER}, #{courceCredit,jdbcType=REAL}, #{courceBak,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.SsmCource" >
    insert into ssm_cource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courceId != null" >
        cource_id,
      </if>
      <if test="courceName != null" >
        cource_name,
      </if>
      <if test="courceDate != null" >
        cource_date,
      </if>
      <if test="courceCount != null" >
        cource_count,
      </if>
      <if test="courceCredit != null" >
        cource_credit,
      </if>
      <if test="courceBak != null" >
        cource_bak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courceId != null" >
        #{courceId,jdbcType=INTEGER},
      </if>
      <if test="courceName != null" >
        #{courceName,jdbcType=VARCHAR},
      </if>
      <if test="courceDate != null" >
        #{courceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="courceCount != null" >
        #{courceCount,jdbcType=INTEGER},
      </if>
      <if test="courceCredit != null" >
        #{courceCredit,jdbcType=REAL},
      </if>
      <if test="courceBak != null" >
        #{courceBak,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.SsmCource" >
    update ssm_cource
    <set >
      <if test="courceName != null" >
        cource_name = #{courceName,jdbcType=VARCHAR},
      </if>
      <if test="courceDate != null" >
        cource_date = #{courceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="courceCount != null" >
        cource_count = #{courceCount,jdbcType=INTEGER},
      </if>
      <if test="courceCredit != null" >
        cource_credit = #{courceCredit,jdbcType=REAL},
      </if>
      <if test="courceBak != null" >
        cource_bak = #{courceBak,jdbcType=VARCHAR},
      </if>
    </set>
    where cource_id = #{courceId,jdbcType=INTEGER}
  </update>
  <update id="updateCource" parameterType="com.zking.model.SsmCource" >
    update ssm_cource
    set cource_name = #{courceName,jdbcType=VARCHAR},
      cource_date = #{courceDate,jdbcType=TIMESTAMP},
      cource_count = #{courceCount,jdbcType=INTEGER},
      cource_credit = #{courceCredit,jdbcType=REAL},
      cource_bak = #{courceBak,jdbcType=VARCHAR}
    where cource_id = #{courceId,jdbcType=INTEGER}
  </update>
</mapper>