<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.SsmCashierMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.SsmCashier" >
    <constructor >
      <idArg column="ca_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="User_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ca_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ca_money" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="salary_finance_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="class_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ca_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ca_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <resultMap id="rows" type="com.zking.model.SsmCashier">
       <id column="ca_id" property="caId" javaType="java.lang.Integer"/>
       <result column="User_id" property="userId" javaType="java.lang.Integer"/>
       <result column="ca_name" property="caName" javaType="java.lang.String"/>
       <result column="ca_money" property="caMoney" javaType="java.lang.Float"/>
       <result column="salary_finance_id" property="salaryFinanceId" javaType="java.lang.Integer" />
       <result column="class_id" property="classId" javaType="java.lang.Integer" />
      <result column="ca_date" property="caDate" javaType="java.lang.String" />
      <result column="ca_status" property="caStatus" javaType="java.lang.Integer" />
     <association property="ssmUser" javaType="com.zking.model.SsmUser">
       <id column="User_id" property="userId" javaType="java.lang.Integer" />
       <result column="User_name" property="userName" javaType="java.lang.String" />
       <result column="User_account" property="userAccount" javaType="java.lang.String" />
       <result column="User_pwd" property="userPwd" javaType="java.lang.String" />
       <result column="User_salt" property="userSalt" javaType="java.lang.String" />
       <result column="User_State" property="userState" javaType="java.lang.Integer" />
       <result column="User_date" property="userDate" javaType="java.util.Date" />
       <result column="User_sex" property="userSex" javaType="java.lang.String" />
       <result column="User_age" property="userAge" javaType="java.lang.Integer" />
       <result column="User_sign" property="userSign" javaType="java.lang.Integer" />
     </association>
    <association property="ssmRevenueCashier" javaType="com.zking.model.SsmRevenueCashier">
    <id column="class_id" property="classId" javaType="java.lang.Integer" />
    <result column="class_name" property="className" javaType="java.lang.String" />
    <result column="cla_id" property="claId" javaType="java.lang.Integer" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    ca_id, User_id, ca_name, ca_money, salary_finance_id, class_id, ca_date, ca_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssm_cashier
    where ca_id = #{caId,jdbcType=INTEGER}
  </select>
  <select id="listAll" resultMap="rows">
    select * from ssm_cashier c,ssm_user u,ssm_revenue_cashier rc where  u.User_id=c.User_id and
    rc.class_id=c.class_id
    <if test="caMoney!=null">
      and ca_money = #{caMoney}
    </if>
    <if test="caDate!=null">
      and ca_date like #{caDate}
    </if>
    <if test="caName!=null">
      and ca_name like #{caName}
    </if>
    <if test="classId!=null">
      and class_id =#{classId}
    </if>
    <if test="userId!=null">
      and User_id =#{userId}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ssm_cashier
    where ca_id = #{caId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.SsmCashier" >
    insert into ssm_cashier (ca_id, User_id, ca_name, 
      ca_money, salary_finance_id, class_id, 
      ca_date, ca_status)
    values (#{caId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{caName,jdbcType=VARCHAR}, 
      #{caMoney,jdbcType=REAL}, #{salaryFinanceId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, 
      #{caDate,jdbcType=VARCHAR}, #{caStatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.SsmCashier" >
    update ssm_cashier
    set User_id = #{userId,jdbcType=INTEGER},
      ca_name = #{caName,jdbcType=VARCHAR},
      ca_money = #{caMoney,jdbcType=REAL},
      salary_finance_id = #{salaryFinanceId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      ca_date = #{caDate,jdbcType=VARCHAR},
      ca_status = #{caStatus,jdbcType=INTEGER}
    where ca_id = #{caId,jdbcType=INTEGER}
  </update>
</mapper>