<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.SsmRegisterMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.SsmRegister" >
    <constructor >
      <idArg column="r_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_sex" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="r_age" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="r_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="r_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="row" type="com.zking.model.SsmRegister">
    <id column="r_id" property="rId" javaType="java.lang.Integer"/>
    <result column="r_name" property="rName" javaType="java.lang.String"/>
    <result column="r_sex" property="rSex" javaType="java.lang.String"/>
    <result column="r_age" property="rAge" javaType="java.lang.Integer"/>
    <result column="r_phone" property="rPhone" javaType="java.lang.String"/>
    <result column="r_status" property="rStatus" javaType="java.lang.Integer"/>
    <result column="r_date" property="rDate" javaType="java.util.Date"/>
  </resultMap>
  <sql id="Base_Column_List" >
    r_id, r_name, r_sex, r_age, r_phone, r_status, r_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssm_register
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="row">
    select * from ssm_register
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ssm_register
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.SsmRegister" >
    insert into ssm_register (r_id, r_name, r_sex, 
      r_age, r_phone, r_status, 
      r_date)
    values (#{rId,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR}, #{rSex,jdbcType=CHAR}, 
      #{rAge,jdbcType=INTEGER}, #{rPhone,jdbcType=VARCHAR}, #{rStatus,jdbcType=INTEGER},
      #{rDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.SsmRegister" >
    insert into ssm_register
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="rName != null" >
        r_name,
      </if>
      <if test="rSex != null" >
        r_sex,
      </if>
      <if test="rAge != null" >
        r_age,
      </if>
      <if test="rPhone != null" >
        r_phone,
      </if>
      <if test="rStatus != null" >
        r_status,
      </if>
      <if test="rDate != null" >
        r_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rSex != null" >
        #{rSex,jdbcType=CHAR},
      </if>
      <if test="rAge != null" >
        #{rAge,jdbcType=INTEGER},
      </if>
      <if test="rPhone != null" >
        #{rPhone,jdbcType=VARCHAR},
      </if>
      <if test="rStatus != null" >
        #{rStatus,jdbcType=INTEGER},
      </if>
      <if test="rDate != null" >
        #{rDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.SsmRegister" >
    update ssm_register
    <set >
      <if test="rName != null" >
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rSex != null" >
        r_sex = #{rSex,jdbcType=CHAR},
      </if>
      <if test="rAge != null" >
        r_age = #{rAge,jdbcType=INTEGER},
      </if>
      <if test="rPhone != null" >
        r_phone = #{rPhone,jdbcType=VARCHAR},
      </if>
      <if test="rStatus != null" >
        r_status = #{rStatus,jdbcType=INTEGER},
      </if>
      <if test="rDate != null" >
        r_date = #{rDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.SsmRegister" >
    update ssm_register
    set r_name = #{rName,jdbcType=VARCHAR},
      r_sex = #{rSex,jdbcType=CHAR},
      r_age = #{rAge,jdbcType=INTEGER},
      r_phone = #{rPhone,jdbcType=VARCHAR},
      r_status = #{rStatus,jdbcType=INTEGER},
      r_date = #{rDate,jdbcType=TIMESTAMP}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>