<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.SsmRevenueMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.SsmRevenue" >
    <constructor >
      <idArg column="re_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="re_yuan" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="re_money" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="salary_finance_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="re_ratepaying" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="re_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="re_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="class_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="re_remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="rows" type="com.zking.model.SsmRevenue">
    <id column="re_id" property="reId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="re_yuan" property="reYuan" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="re_money" property="reMoney" jdbcType="REAL" javaType="java.lang.Float" />
    <result column="salary_finance_id" property="salaryFinanceId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="re_ratepaying" property="reRatepaying" jdbcType="REAL" javaType="java.lang.Float" />
    <result column="re_date" property="reDate" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="re_status" property="reStatus" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="class_id" property="classId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="re_remark" property="reRemark" jdbcType="VARCHAR" javaType="java.lang.String" />
   <association property="ssmRevenueCashier" javaType="com.zking.model.SsmRevenueCashier">
     <id column="class_id" property="classId" jdbcType="INTEGER" javaType="java.lang.Integer" />
     <result column="class_name" property="className" jdbcType="VARCHAR" javaType="java.lang.String" />
     <result column="cla_id" property="claId" jdbcType="INTEGER" javaType="java.lang.Integer" />
   </association>
   </resultMap>

  <sql id="Base_Column_List" >
    re_id, re_yuan, re_money, salary_finance_id, re_ratepaying, re_date, re_status, class_id, 
    re_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ssm_revenue
    where re_id = #{reId,jdbcType=INTEGER}
  </select>
  <select id="listAll" resultMap="rows">
    select *from ssm_revenue r,ssm_revenue_cashier rc where
    rc.class_id=r.class_id
    <if test="reMoney!=null">
      and re_money = #{reMoney}
    </if>
    <if test="reDate!=null">
      and re_date like #{reDate}
    </if>
    <if test="reYuan!=null">
      and re_yuan like #{reYuan}
    </if>
    <if test="classId!=null">
        and class_id =#{classId}
    </if>
    <if test="reStatus!=null">
      and re_status =#{reStatus}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ssm_revenue
    where re_id = #{reId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.SsmRevenue" >
    insert into ssm_revenue (re_id, re_yuan, re_money, 
      salary_finance_id, re_ratepaying, re_date, 
      re_status, class_id, re_remark
      )
    values (#{reId,jdbcType=INTEGER}, #{reYuan,jdbcType=VARCHAR}, #{reMoney,jdbcType=REAL}, 
      #{salaryFinanceId,jdbcType=INTEGER}, #{reRatepaying,jdbcType=REAL}, #{reDate,jdbcType=VARCHAR},
      #{reStatus,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{reRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.SsmRevenue" >
    insert into ssm_revenue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reId != null" >
        re_id,
      </if>
      <if test="reYuan != null" >
        re_yuan,
      </if>
      <if test="reMoney != null" >
        re_money,
      </if>
      <if test="salaryFinanceId != null" >
        salary_finance_id,
      </if>
      <if test="reRatepaying != null" >
        re_ratepaying,
      </if>
      <if test="reDate != null" >
        re_date,
      </if>
      <if test="reStatus != null" >
        re_status,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="reRemark != null" >
        re_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reId != null" >
        #{reId,jdbcType=INTEGER},
      </if>
      <if test="reYuan != null" >
        #{reYuan,jdbcType=VARCHAR},
      </if>
      <if test="reMoney != null" >
        #{reMoney,jdbcType=REAL},
      </if>
      <if test="salaryFinanceId != null" >
        #{salaryFinanceId,jdbcType=INTEGER},
      </if>
      <if test="reRatepaying != null" >
        #{reRatepaying,jdbcType=REAL},
      </if>
      <if test="reDate != null" >
        #{reDate,jdbcType=VARCHAR},
      </if>
      <if test="reStatus != null" >
        #{reStatus,jdbcType=INTEGER},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="reRemark != null" >
        #{reRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.SsmRevenue" >
    update ssm_revenue
    set re_yuan = #{reYuan,jdbcType=VARCHAR},
      re_money = #{reMoney,jdbcType=REAL},
      salary_finance_id = #{salaryFinanceId,jdbcType=INTEGER},
      re_ratepaying = #{reRatepaying,jdbcType=REAL},
      re_date = #{reDate,jdbcType=VARCHAR},
      re_status = #{reStatus,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      re_remark = #{reRemark,jdbcType=VARCHAR}
    where re_id = #{reId,jdbcType=INTEGER}
  </update>
</mapper>